<footer>
    <div>
        &copy; Rescue Me 2018
    </div>
    <div>
        <%= link_to 'Foster', root_path %>
        <%= link_to 'FAQ', faq_path %>
        <%= link_to 'Contact', contact_path %>
    </div>
</footer>