<div id="hero-image">
<p id="hero-text">Find your new best friend.<br/>
<div id="search-box">
    <% form_tag projects_path, :method => 'get' do %>
    <p>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search", :name => nil %>
    </p>
    <% end %>
</div></p>
</div>