<div id="hero-image">
<p id="hero-text">Find your new best friend.


<div class="wrap">
   <div class="search">
   <form action="/" accept-charset="UTF-8" method="get">
    <input name="utf8" type="hidden" value="✓">
      <input type="text" class="searchTerm" placeholder="Try 'Irish Wolfhound'" name="pets[search]">
      <button name="button" type="submit" class="searchButton">
        <i class="fa fa-search"></i>
     </button>
     </form>
   </div>
</div>
</p>
</div>
