<div class="menu">
  <input type="radio" name="menu" id="menu-open"/>
  <input type="radio" name="menu" id="menu-close" checked="checked"/>
  <label class="overlay" for="menu-close"></label>
  <label for="menu-open"> <span></span><span></span><span></span></label>
  <div class="side-menu">
    <label class="menu-close" for="menu-close"><span></span><span></span></label>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>