/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
     --primary-purple: #9575CD;
     --dark-purple: #65499C;
     --light-purple: #C7A4FF;
     --primary-gray: #EBEBEB;
     --dark-gray: #B8B8B8;
     --light-charcoal: #505050;
     --charcoal: #2B2B2B;
 }

 nav {
     display: flex;
     justify-content: space-between;
 }

 #sometimesHidden {
     display: none;
 }

 .alert {
     color: white;
     font-size: 1.2em;
     text-align: center;
     background-color: red;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--charcoal);
 }


 h1 {
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     color: var(--light-charcoal);
 }

 #title {
     font-size: 2.5em;
     font-family: 'Crimson Text', serif;
     color: var(--primary-purple);
     text-decoration: none;
 }

 #header {
     color: var(--primary-purple);
     text-transform: uppercase;
     font-weight: 900;
     font-size: 1.4em;
 }

 #header-dark {
    color: var(--light-charcoal);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.4em;
}




/* ----- SimpleForm Styles ----- */

.simple_form div.input {
    margin-bottom: 10px;
    clear: both; /* Required for Webkit, but not for Gecko */
  }
  
  .simple_form label {
    float: left;
    width: 200px;
    text-align: right;
    margin: 2px 10px;
  }
  
  div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
  }
  
  div.boolean label, label.collection_radio_buttons {
    float: none;
    margin: 0;
  }
  
  label.collection_radio_buttons {
    margin-right: 10px;
    vertical-align: -2px;
    margin-left: 2px;
  }
  
  .field_with_errors {
    background-color: #ff3333;
  }
  
  .simple_form .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  
  .simple_form .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
  
  input.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  
  input.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
  
  label.collection_check_boxes {
    float: none;
    margin: 0;
    vertical-align: -2px;
    margin-left: 2px;
  }