/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */

 :root {
     --primary-purple: #9575CD;
     --dark-purple: #65499C;
     --light-purple: #C7A4FF;
     --primary-gray: #EBEBEB;
     --dark-gray: #B8B8B8;
     --light-charcoal: #505050;
     --charcoal: #2B2B2B;
     --roboto-light: 300;
     --roboto-medium: 500;
     --roboto-bold: 700;
     --roboto-black: 900;
 }

 * {
   margin: 0;
   padding: 0;
 }
 html {
   background-color: var(--primary-gray);
 }
 nav, footer {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
     text-transform: uppercase;
     align-items: center;
     font-size: 1.2em;
 }

 nav a{
   text-decoration: none;
   color: var(--charcoal);
 }
 

 #sometimesHidden {
     display: none;
 }

 .alert {
     color: white;
     font-size: 1.2em;
     text-align: center;
     background-color: red;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--charcoal);
 }

#margin-div {
    width: 60%;
    margin: auto;
    padding: 2em;
    text-align: center;
    overflow: visible;
}
 h1 {
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     color: var(--light-charcoal);
 }

 #title {
     font-size: 2.5em;
     color: var(--charcoal);
     text-decoration: none;
     text-transform: uppercase;
     font-weight: var(--roboto-bold);
 }

 #header {
     color: var(--primary-purple);
     text-transform: uppercase;
     font-weight: var(--roboto-black);
     font-size: 48px;
 }

 #header-dark {
    color: var(--light-charcoal);
    text-transform: uppercase;
    font-weight: var(--roboto-black);
    font-size: 48px;
}

#subtitle {
  font-weight: var(--roboto-light);
}

#hero-image {
  background-image:url('https://images.unsplash.com/photo-1519885255265-e1b3e744c8f9?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0ff75671429cd34b5b1557485fcf875b&auto=format&fit=crop&w=967&q=80');
  background-size: cover;
  background-position: center;
  height: 70vh;
  width: 100%;
  top: 0;
  left: 0;
}

#hero-text {
  width: 50%;
  margin: 0 auto;
  padding: 2em 2em 1em 2em;
  text-align: center;
  font-weight: var(--roboto-bold);
  color: white;
  font-size: 6em;
}

#search-box {
  width: 50%;
  height: 3em;
  /* background-color: white; */
  border-radius: 10px;
  margin: 0 auto;
}

input#hero-search {
    width:90%;
    height: 2em;
    font-size: 1.2em;
    border-radius: 10px;
}

.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: white;
  width: 100%;
  margin: 2em;
  
}
.card-item {
  padding: 2em;
}
.round-image {
  height: 150px;
  width: 150px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background: center no-repeat;
  background-size: cover;
}

#donateButton {
  background: blue;
}


/* ----- SimpleForm Styles ----- */

.simple_form div.input {
    margin-bottom: 10px;
    clear: both; /* Required for Webkit, but not for Gecko */
  }
  
  .simple_form label {
    float: left;
    width: 200px;
    text-align: right;
    margin: 2px 10px;
  }
  
  div.boolean, .simple_form input[type='submit'] {
    margin-left: 120px;
  }
  
  div.boolean label, label.collection_radio_buttons {
    float: none;
    margin: 0;
  }
  
  label.collection_radio_buttons {
    margin-right: 10px;
    vertical-align: -2px;
    margin-left: 2px;
  }
  
  .field_with_errors {
    background-color: #ff3333;
  }
  
  .simple_form .error {
    clear: left;
    color: black;
    display: block;
    margin-left: 120px;
  }
  
  .simple_form .hint {
    clear: left;
    margin-left: 120px;
    color: #555;
    display: block;
    font-style: italic;
  }
  
  input.radio {
    margin-right: 5px;
    vertical-align: -3px;
  }
  
  input.check_boxes {
    margin-left: 3px;
    vertical-align: -3px;
  }
  
  label.collection_check_boxes {
    float: none;
    margin: 0;
    vertical-align: -2px;
    margin-left: 2px;
  }


  /* SEARCH BAR */

.search {
  width: 100%;
}

.searchTerm {
  float: left;
  width: 100%;
  border: 3px solid #FFFFFF;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  color: var(--charcoal);
  font-size: 1.2em;
}

.searchButton {
  position: absolute;  
  right: -50px;
  width: 40px;
  height: 36px;
  border: 1px solid var(--primary-purple);
  background: var(--primary-purple);
  text-align: center;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5em;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 50%;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}