/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 :root {
     --primary-purple: #9575CD;
     --dark-purple: #65499C;
     --light-purple: #C7A4FF;
     --primary-gray: #EBEBEB;
     --dark-gray: #B8B8B8;
     --light-charcoal: #505050;
     --charcoal: #2B2B2B;
 }

 nav {
     display: flex;
     justify-content: space-between;
 }

 #sometimesHidden {
     display: none;
 }

 .alert {
     color: white;
     font-size: 1.2em;
     text-align: center;
     background-color: red;
 }

 body {
    font-family: 'Roboto', sans-serif;
    color: var(--charcoal);
 }


 h1 {
     text-transform: uppercase;
     font-family: 'Roboto', sans-serif;
     color: var(--light-charcoal);
 }

 #title {
     font-size: 2.5em;
     font-family: 'Crimson Text', serif;
     color: var(--primary-purple);
     text-decoration: none;
 }

 #header {
     color: var(--primary-purple);
     text-transform: uppercase;
     font-weight: 900;
     font-size: 1.4em;
 }